---
import HTML from "../icons/html.astro"
import CSS from "../icons/css.astro"
import Astros from "../icons/Astro.astro"
import Laravel from "../icons/laravel.astro"
import Tailwind from "../icons/tailwind.astro"
import Java from "../icons/java.astro"
import JavaScript from "../icons/javascript.astro"
import PHP from "../icons/php.astro"
import React from "../icons/react.astro"
import Python from "../icons/python.astro"
import SQL from "../icons/sql.astro"
import Node from "../icons/node.astro"
import Git from "../icons/git.astro"
import GitHub from "../icons/GH.astro"
import Docker from "../icons/Docker.astro"
import Bootstrap from "../icons/Bootstrap.astro"

const ICONS = [

{
        name: 'HTML',
        icon: HTML,
    },
    {
        name: 'CSS',
        icon: CSS,
    },
    {
        name: 'JS',
        icon: JavaScript,
    },
    {
        name: 'Java',
        icon: Java,
    },
    {
        name: 'PHP',
        icon: PHP,
    },
    {
        name: 'Laravel',
        icon: Laravel,
    },
    {
        name: 'React',
        icon: React,
    },
    {
        name: 'Astro',
        icon: Astros,
    },
    {
        name: 'Python',
        icon: Python,
    },
    {
        name: 'SQL',
        icon: SQL,
    },
    {
        name: 'Node',
        icon: Node,
    },
    {
        name: 'Tailwind',
        icon: Tailwind,
    }, 
    {
        name: 'Docker',
        icon: Docker,
    },
    {
        name: 'Bootstrap',
        icon: Bootstrap,
    }
    


]

const PROJECTS = [
{
        date: 'Enero 2025',
        title: 'Nicoya Zona Azul',
        description: 'Proyecto personal, página web informativa sobre la zona azul en Nicoya, Guanacaste, Costa Rica.',
        link: 'https://nicoya-blue-zone.vercel.app/',
        github: 'https://github.com/Crisfertho/NicoyaBlueZone',
        images: ['/projectsIMG/NicoyaBlueZone/NicoyaBZ1.webp','/projectsIMG/NicoyaBlueZone/NicoyaBZ2.webp','/projectsIMG/NicoyaBlueZone/NicoyaBZ3.webp','/projectsIMG/NicoyaBlueZone/NicoyaBZ4.webp', '/projectsIMG/NicoyaBlueZone/NicoyaBZ5.webp', '/projectsIMG/NicoyaBlueZone/NicoyaBZ6.webp'],
        tags: ['HTML, Tailwind, JS, React']
        
    },
    {
        date: 'Octubre 2024',
        title: 'TakeCare App',
        description: 'App sobre cuidados personales(Salón de belleza) tanto para hombres como de mujeres hecho en PHP MVC',
        link: 'https://bufmusa.mnz.dom.my.id/',
        github: 'https://github.com/Crisfertho/TakeCareApp',
        images: ['/projectsIMG/TakeCareApp/TCA1.webp', '/projectsIMG/TakeCareApp/TCA2.webp','/projectsIMG/TakeCareApp/TCA3.webp','/projectsIMG/TakeCareApp/TCA4.webp', '/projectsIMG/TakeCareApp/TCA5.webp', '/projectsIMG/TakeCareApp/TCA6.webp', '/projectsIMG/TakeCareApp/TCA7.webp'],
        tags: ['HTML, CSS, Laravel, PHP, JS, MySQL']
    },
    {
        date: 'Octubre 2024',
        title: 'FindJobs',
        description: 'Página para cración y busqueda de vacantes para desarrolladores, programadores, UX... Hecho con laravel, Blade, MVC.',
        link: 'https://crg-findjobs.mnz.dom.my.id/',
        github: 'https://github.com/Crisfertho/CRG-FindJobs',
        images: ['/projectsIMG/FindJobs/findjobs1.webp', '/projectsIMG/FindJobs/findjobs2.webp','/projectsIMG/FindJobs/findjobs3.webp','/projectsIMG/FindJobs/findjobs4.webp', '/projectsIMG/FindJobs/findjobs5.webp', '/projectsIMG/FindJobs/findjobs6.webp', '/projectsIMG/FindJobs/findjobs7.webp', '/projectsIMG/FindJobs/findjobs8.webp',  '/projectsIMG/FindJobs/findjobs9.webp', '/projectsIMG/FindJobs/findjobs10.webp'], 
        tags: ['HTML, CSS, PHP, Laravel, Axios, Blade, JS']
    },
    {
        date: 'Octubre 2024',
        title: 'Minimalist Portfolio',
        description: 'Desarrollado con Astro y estructurado con JSON para una experiencia web rápida y fluida. Diseñado para destacar contenido esencial con un enfoque limpio y moderno.',
        link: 'https://crg-minimalist-portfolio.netlify.app/',
        github: 'https://github.com/Crisfertho/CRGPortfolio',
        images: ['/projectsIMG/Minimalist/minimalist1.webp', '/projectsIMG/Minimalist/minimalist2.webp','/projectsIMG/Minimalist/minimalist3.webp'],
        tags: [' Astro, HTML, JS']
    },
    {
        date: 'Octubre 2024',
        title: 'Guanagram',
        description: 'Clon básico de instagram con las principales funcionalidades tal como login, subir publicaciones con imagenes, hacer comentarios, seguir o dejar de seguir usuarios...',
        link: 'https://gostuce.nyc.dom.my.id/login',
        github: 'https://github.com/Crisfertho/Guanagram',
        images: ['/projectsIMG/Guanagram/guanagram1.webp', '/projectsIMG/Guanagram/guanagram2.webp','/projectsIMG/Guanagram/guanagram3.webp','/projectsIMG/Guanagram/guanagram4.webp', '/projectsIMG/Guanagram/guanagram5.webp', '/projectsIMG/Guanagram/guanagram6.webp'],
        tags: ['HTML, CSS,PHP, Laravel, JS']
    },
    {
        date: 'Octubre 2024',
        title: 'Quiosco de Comidas Rápidas',
        description: 'App sobre ordenes y compras de comidas rapidas en linea, proyecto realizado con laravel y react, combiando framework PHP y la biblioteca de react.',
        link: 'https://github.com/Crisfertho/Quiosco-Comidas---React',
        github: 'https://github.com/Crisfertho/Quiosco-Comidas---Laravel',
        images: ['/projectsIMG/FastFood/fastfood1.webp', '/projectsIMG/FastFood/fastfood2.webp','/projectsIMG/FastFood/fastfood3.webp','/projectsIMG/FastFood/fastfood4.webp', '/projectsIMG/FastFood/fastfood5.webp'],
        tags: ['HTML, CSS,PHP Laravel, React, JS']
    },
    {
        date: 'Febrero 2024',
        title: 'Sudoku Game',
        description: 'Juego Sudoku, con modo oscuro, creado con JS, HTML, y CSS',
        link: 'https://crg-sudoku-game.vercel.app/',
        github: 'https://github.com/Crisfertho/CRGSudokuGame',
        images: ['/projectsIMG/Sudoku.webp', '/projectsIMG/Sudoku2.webp'],
        tags: ['HTML, CSS, JS']
    },
    {
        date: 'Noviembre 2023',
        title: 'Bienes Raices MVC',
        description: 'Proyecto de Bienes Raices para venta y alquiler de propiedades, casa y departamentos',
        link: 'https://wephupa.nyc.dom.my.id/',
        github: 'https://github.com/Crisfertho/bienesraicesMVC',
        images: ['/projectsIMG/BienesRaices/bienesraices1.webp', '/projectsIMG/BienesRaices/bienesraices2.webp','/projectsIMG/BienesRaices/bienesraices3.webp','/projectsIMG/BienesRaices/bienesraices4.webp', '/projectsIMG/BienesRaices/bienesraices5.webp', '/projectsIMG/BienesRaices/bienesraices6.webp', '/projectsIMG/BienesRaices/bienesraices7.webp', '/projectsIMG/BienesRaices/bienesraices8.webp', '/projectsIMG/BienesRaices/bienesraices9.webp', '/projectsIMG/BienesRaices/bienesraices10.webp'],
        tags: ['HTML, SCSS, PHP, JS, MySQL']
        
    },
    {
        date: 'Marzo 2023',
        title: 'BlogCRG',
        description: 'Mi primera página realizada con HTML, CSS y JS. ',
        link: 'https://crgbasicblog.netlify.app/',
        github: 'https://github.com/Crisfertho/CRGblog',
        images: ['/projectsIMG/Blog.webp', '/projectsIMG/Blog1.webp'],
        tags: ['HTML, CSS, JS']
    }
]
---

{
   <section class="grid grid-cols-1 md:grid-cols-2 gap-3">
  {PROJECTS.map(({title, description, images, link, github, tags }, index) => (
    <article class="mb-1 border-2 border-gray-300 dark:border-gray-700 rounded-lg shadow-md p-4 bg-white dark:bg-gray-800 transition-transform transform hover:scale-105 duration-300">
      <h3 class="text-2xl font-bold text-emerald-800 dark:text-amber-200 mb-2">
        <a href={link} target="_blank" rel="noopener noreferrer">
          {title}
        </a>
      </h3>
      <p class="text-lg h-24 text-pretty overflow-y-auto">{description}</p>
      
      <ul class="text-sm flex justify-evenly gap-6 w-full my-3">
        {tags.map((tag) => (
          <li class="flex gap-2">
            {ICONS.filter(({ name }) => tag.includes(name)).map(({ icon: Icon }) => (
              <div class="flex items-center size-4">
                <Icon class="size-4"/>
              </div>
            ))}
          </li>
        ))}
      </ul>
      
     <!-- Carrusel de Imágenes -->
      <div class="relative w-full md:max-h-[190px] rounded shadow-xl shadow-white/10 mb-4 overflow-hidden">
        <img
          class="w-full object-cover rounded transition-opacity duration-500"
          src={images[0]}
          alt={`Imagen del Proyecto ${title}`}
          id={`carousel-image-${index}`}
          data-index="0"
          data-images={JSON.stringify(images)}
        />
        
        <!-- Botones de navegación -->
        <button
          class="absolute top-1/2 left-0 transform -translate-y-1/2 bg-black bg-opacity-50 text-white p-2 rounded-full"
          data-action="prev"
          data-project={index}
        >
          ◀
        </button>
        <button
          class="absolute top-1/2 right-0 transform -translate-y-1/2 bg-black bg-opacity-50 text-white p-2 rounded-full"
          data-action="next"
          data-project={index}
        >
          ▶
        </button>
      </div>
    </article>
  ))}
</section>

<script is:inline>
if (typeof window !== "undefined") {
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll("[data-action]").forEach(button => {
            button.addEventListener("click", (event) => {
                const target = event.target;
                if (!target || !target.getAttribute) return;
                
                const action = target.getAttribute("data-action");
                const projectIndex = target.getAttribute("data-project");
                
                if (!action || !projectIndex) return;
                
                const imageElement = document.getElementById(`carousel-image-${projectIndex}`);
                if (!imageElement || !imageElement.getAttribute) return;
                
                const currentIndexStr = imageElement.getAttribute("data-index");
                const imagesStr = imageElement.getAttribute("data-images");
                
                if (!currentIndexStr || !imagesStr) return;
                
                let currentIndex = parseInt(currentIndexStr, 10);
                const images = JSON.parse(imagesStr);
                
                if (action === "next") {
                    currentIndex = (currentIndex + 1) % images.length;
                } else if (action === "prev") {
                    currentIndex = (currentIndex - 1 + images.length) % images.length;
                }
                
                imageElement.setAttribute("data-index", currentIndex.toString());
                if ('src' in imageElement) {
                    imageElement.src = images[currentIndex];
                }
            });
        });
    });
}
</script>

}



